﻿@model ShortLinkTest.Repository.DTO.LinkModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>LinkModel</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Save" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input type="hidden" asp-for="Id" class="form-control" />
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="FullLink" class="control-label"></label>
                <input asp-for="FullLink" class="form-control" />
                <span asp-validation-for="FullLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ShortLink" class="control-label"></label>
                <input asp-for="ShortLink" class="form-control" />
                <span asp-validation-for="ShortLink" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

