﻿@model IEnumerable<ShortLinkTest.Repository.DTO.LinkModel>

@{
    ViewData["Title"] = "Grid";
}

<h2>Grid</h2>

<p>
    @Html.ActionLink("Add", "Edit", new { }, new { Class = "btn btn-primary" })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FullLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortLink)
            </th>
            <th>Redirect Url</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FullLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ShortLink)
            </td>
            @{ 
                var redirectLink = $"http{(Context.Request.IsHttps ? "s" : "")}://{Context.Request.Host}/{item.ShortLink}";
            }
            <td><a href="@redirectLink">@redirectLink</a></td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.Id }, new { Class = "btn btn-warning" })
                @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { Class = "btn btn-danger" })
            </td>
        </tr>
}
    </tbody>
</table>
